<% include ../partials/boilerplate %>

<form method="POST" action="/dictionary">
  <input type="text" name="name" placeholder="Word" />
  <input type="text" name="definition" placeholder="Definition" />
  <input type="submit" value="Add That Word!" />
</form>

<% include ../partials/end %>