<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/dictionary/<%= dictionary.id %>?_method=PUT" method="POST">
        <input type="text" name="word" value="<%= dictionary.word %>" />
        <input type="text" name="definition" value="<%= dictionary.definition %>" />
        <input type="submit" value="Update" />
    </form>
</body>
</html>