<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Kestrel Dictionary</h1>

    <% users => { %>
        <h3>What's up <%= users.userName %></h3>
    <% } %>

    <a href="dictionary/new">Add a Word<a>
    <% dictionary.forEach(dictionary => { %>
        <div class="word">
          <h2><%= dictionary.word %></h2>
          <p>
              Definition <br> <%= dictionary.definition %>
        </p>
          <a href="/dictionary/<%=dictionary.id%>">View the Word?</a>
        </div>
      <% }) %>
      
</body>
</html>