<!-- https://codepen.io/ehermanson/pen/KwKWEv -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/landing.css">
    <link rel="icon" href="/images/kestrel.png">
    <title>Kestrel Dictionary</title>
</head>
<body>
    <h1 class="title">Kestrel Dictionary</h1>
    <div class="container">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper et tortor vel euismod. Etiam eu leo ornare, viverra augue vel, suscipit ipsum. Nunc mattis ante sed diam fermentum, at pellentesque erat eleifend. Duis ut porttitor ex. Nulla et massa eget ante malesuada vulputate sed nec tellus. Nunc sit amet sapien at quam rhoncus dictum vitae eget magna. Donec imperdiet faucibus lacus et lobortis. Pellentesque sit amet tellus quis ligula gravida mollis. Ut malesuada nulla leo. Etiam at diam ut sapien commodo cursus in nec nibh. Phasellus ultrices non ipsum posuere maximus. Morbi porttitor ullamcorper augue, quis feugiat metus pulvinar sit amet. Vestibulum molestie tincidunt sem, in tristique ligula rhoncus id. Donec et pellentesque tortor. In porttitor augue non ipsum scelerisque, eu ultrices tortor gravida. <br>
            Sed vel consectetur sapien. Quisque id mi neque. Quisque placerat gravida vestibulum. Nunc dapibus fringilla consectetur. Nullam imperdiet magna vitae quam euismod fringilla. Nulla luctus neque non purus egestas feugiat. Etiam risus elit, iaculis et dictum in, laoreet non arcu. Sed finibus velit odio, vitae porttitor nisi tristique ac. <br>
            Curabitur tempus efficitur felis vitae porta. Fusce faucibus rhoncus porta. Nulla vitae ultrices enim, id tempus eros. Sed tristique turpis sem, vitae aliquet sapien maximus et. Etiam volutpat mi eget sodales lobortis. Pellentesque nec est cursus nibh ultricies mattis. Praesent finibus lectus in felis imperdiet aliquet. <br>
            Integer sodales ante ipsum, tincidunt facilisis diam placerat in. Vivamus sed metus lobortis, semper augue id, tristique neque. Nunc sagittis blandit commodo. Pellentesque et ex eu massa pellentesque dapibus vel non sapien. Suspendisse convallis dui eget lorem rutrum, a varius odio commodo. Nam accumsan dui consequat, rhoncus urna a, pharetra quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer suscipit libero id dolor sagittis consectetur. <br>
            Nunc ornare interdum diam, ac vulputate felis. Maecenas et nulla euismod, pulvinar elit ac, vehicula lectus. Proin dapibus tortor condimentum lacus pulvinar, ac tincidunt nulla porttitor. Proin eget sodales neque, at maximus turpis. Curabitur sapien risus, sollicitudin in arcu ut, semper sollicitudin nisl. Quisque eget quam nibh. Morbi lacinia, ex vel fermentum ultrices, arcu tortor mollis turpis, non aliquam ligula arcu vel mi. Donec efficitur sed urna eget cursus.
        </p>
        <div class="buttonContainer">
            <a class="button" href="../auth/login">Login</a>
            <a class="button" href="../auth/register">Register</a>
        </div>
    </div>
    
</body>
</html>